/* CSS file used in the UI for Calculator */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  font-size: 24px;
  display: flex;
  flex-direction: column;
}

#container {
    border: 5px solid rgb(126, 119, 153);;
    border-radius: 8px;
}

#display {
    width: 500px;
    height: 80px;
    font-size: 68px; 
    border-bottom: 5px solid rgb(126, 119, 153);;
   /* border-radius: 8px;  */
    margin-bottom: 5px;
    text-align: right;
}

button {
    font-family: Roboto, sans-serif;
    font-size: 48px;
    width: 120px;
    border: none;
    border-radius: 8px;
    color: white;
    background: rgb(126, 119, 153);
    margin:0;
    padding: 24px 20px; 
}

.greyed {
    background: rgb(163, 162, 167);
}

#zero {
    width: 244px;
}

body {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/*
#container {
    
} */

#btn {
    width: 500px;
    height: 550px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}